* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 
/* Fundo Preto*/
body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
/*Basicamente a tela*/
.game-container {
    width: 1700px;
    height: 900px;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
}
 
.background {
    width: 1700px; /* largura REAL da tela */
    height: 900px;
    object-fit: fill;
}
 
.player {
    width: 110px;
    height: 190px;
    position: absolute;
    bottom: 110px;
    left: 80px;
}
 
/* --- Caixa de diálogo --- */
.dialog-box {
    width: 100%;
    height: 180px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 20px;
    color: #fff;
    overflow: visible;
    line-height: 0.5;
}
 
.hidden {
    display: none;
}
 
/*Retrato do Diálogo*/
.portrait {
    width: 380px;
    height: 500px;
    object-fit: contain;
    position: absolute;
    left: -10px;
    bottom: 10px;            
    transform: none;       
    opacity: 0;
    transition: opacity .4s ease, transform .4s ease;
}

.portrait.ativo {
    opacity: 1;
    transform: none;
}
 
 
.dialog-content {
    margin-left: 300px; /* Afasta texto da imagem grande */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px ;
}
 
.dialog-name {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 17px;
}

 
/*Personagem 1*/
.npc {
    position: absolute;
    width: 100px;
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
}
 
/* Fase 3 */
#npc1 {
    background-image: url("imagens/Onça1.png");
    left: 1300px;  
    bottom: 50px;
    background-size: 120px 150px;
}
 
/* Fase 5 */
#npc2 {
    background-image: url("imagens/Sucuri3.gif");
    left: 1300px;
    bottom: 50px;
    background-size: 100px 100px;
}
 
 
 
/* Botões quiz*/
.alt-btn {
    background: #242424;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    width: 95%;
    margin: 6px 0;
    cursor: pointer;
 
    border-radius: 6px;
}
 
.alt-btn:hover {
    background: #444;
}
 
/*Score*/
#hud-pontuacao {
    position: fixed;
    top: 35px;
    right: 170px;
    padding: 10px 20px;
    background: rgba(255, 239, 21, 0.377);
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, sans-serif;
    border-radius: 30px;
    z-index: 9999;
    pointer-events: none;
}
 
#hud-pontuacao.hidden {
    display: none;
}
 
.plataforma {
    position: absolute;
    width: 200px;      
    height: 20px;
    background: rgba(80, 50, 20, 0.658);
    border-radius: 8px;
    box-shadow: 0 0 10px #0005;
 
}
 
.hidden {
    display: none;
}
 
 
.teleporte {
    position: absolute;
    width: 120px;
    height: 180px;
 
    background-image: url("imagens/setinhaBaixo.gif"); /* coloque sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
 
    border: none; /* opcional */
 
}
 
/* ====== MENU ====== */
#menuInicial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65); /* escurece o fundo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 999;   /* fica acima de tudo */
}
 
/* Título */
#menuInicial h1 {
    font-size: 70px;
    color: #a5ff3f;
    font-family: 'Georgia', serif;
    text-shadow: 0 0 20px #000000;
    animation: fadeIn 1.2s ease-out;
}
 
/* Botão */
#btnJogar {
    padding: 18px 50px;
    font-size: 26px;
    background: #0c3;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(34, 32, 2, 0.658);
    transition: 0.70s;
}
 
/* Efeito ao passar o mouse */
#btnJogar:hover {
    transform: scale(1.1);
    background: #0e4;
}
 
/* Animação suave do título */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to   { opacity: 1; transform: scale(1); }
}
 
/*"Moedas"*/
.item {
    position: absolute;
    width: 100px;   /* tamanho configurável */
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
 
.item.pego {
    opacity: 0;
    transform: scale(0.2);
    pointer-events: none;
}
 
/* Tela Final*/
#telaFinalJogo {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#telaFinalJogo.hidden {
    display: none;
}

#textoFinal {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

#imagemFinalJogo {
    max-width: 90%;
    max-height: 70%;
    border: 4px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}

#btnReiniciar {
    padding: 20px 40px;
    font-size: 28px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: white;
    color: black;
}